In [1]:
import pandas as pd
from pandas import set_option
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Reading data and setting option for seeing all columns we have...

In [3]:
data = pd.read_csv(r'heart_attack_dataset.csv')
pd.set_option('display.max_columns', 30)

In [4]:
data

,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,Diet,Previous Heart Problems,Medication Use,Stress Level,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk
0,BMW7812,67,Male,208,158/88,72,0,0,1,0,0,4.168189,Average,0,0,9,6.615001,261404,31.251233,286,0,6,Argentina,South America,Southern Hemisphere,0
1,CZE1114,21,Male,389,165/93,98,1,1,1,1,1,1.813242,Unhealthy,1,0,1,4.963459,285768,27.194973,235,1,7,Canada,North America,Northern Hemisphere,0
2,BNI9906,21,Female,324,174/99,72,1,0,0,0,0,2.078353,Healthy,1,1,9,9.463426,235282,28.176571,587,4,4,France,Europe,Northern Hemisphere,0
3,JLN3497,84,Male,383,163/100,73,1,1,1,0,1,9.828130,Average,1,0,9,7.648981,125640,36.464704,378,3,4,Canada,North America,Northern Hemisphere,0
4,GFO8847,66,Male,318,91/88,93,1,1,1,1,0,5.804299,Unhealthy,1,0,6,1.514821,160555,21.809144,231,1,5,Thailand,Asia,Northern Hemisphere,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,MSV9918,60,Male,121,94/76,61,1,1,1,0,1,7.917342,Healthy,1,1,8,10.806373,235420,19.655895,67,7,7,Thailand,Asia,Northern Hemisphere,0
8759,QSV6764,28,Female,120,157/102,73,1,0,0,1,0,16.558426,Healthy,0,0,8,3.833038,217881,23.993866,617,4,9,Canada,North America,Northern Hemisphere,0
8760,XKA5925,47,Male,250,161/75,105,0,1,1,1,1,3.148438,Average,1,0,5,2.375214,36998,35.406146,527,4,4,Brazil,South America,Southern Hemisphere,1
8761,EPE6801,36,Male,178,119/67,60,1,0,1,0,0,3.789950,Unhealthy,1,1,5,0.029104,209943,27.294020,114,2,8,Brazil,South America,Southern Hemisphere,0
8762,ZWN9666,25,Female,356,138/67,75,1,1,0,0,1,18.081748,Healthy,0,0,8,9.005234,247338,32.914151,180,7,4,United Kingdom,Europe,Northern Hemisphere,1

In [5]:
data.describe(include="all")

,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,Diet,Previous Heart Problems,Medication Use,Stress Level,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk
count,8763,8763.000000,8763,8763.000000,8763,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763,8763,8763,8763.000000
unique,8763,NaN,2,NaN,3915,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20,6,2,NaN
top,BMW7812,NaN,Male,NaN,146/94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Healthy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Germany,Asia,Northern Hemisphere,NaN
freq,1,NaN,6111,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,477,2543,5660,NaN
mean,NaN,53.707977,NaN,259.877211,NaN,75.021682,0.652288,0.492982,0.896839,0.501426,0.598083,10.014284,NaN,0.495835,0.498345,5.469702,5.993690,158263.181901,28.891446,417.677051,3.489672,7.023508,NaN,NaN,NaN,0.358211
std,NaN,21.249509,NaN,80.863276,NaN,20.550948,0.476271,0.499979,0.304186,0.500026,0.490313,5.783745,NaN,0.500011,0.500026,2.859622,3.466359,80575.190806,6.319181,223.748137,2.282687,1.988473,NaN,NaN,NaN,0.479502
min,NaN,18.000000,NaN,120.000000,NaN,40.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.002442,NaN,0.000000,0.000000,1.000000,0.001263,20062.000000,18.002337,30.000000,0.000000,4.000000,NaN,NaN,NaN,0.000000
25%,NaN,35.000000,NaN,192.000000,NaN,57.000000,0.000000,0.000000,1.000000,0.000000,0.000000,4.981579,NaN,0.000000,0.000000,3.000000,2.998794,88310.000000,23.422985,225.500000,2.000000,5.000000,NaN,NaN,NaN,0.000000
50%,NaN,54.000000,NaN,259.000000,NaN,75.000000,1.000000,0.000000,1.000000,1.000000,1.000000,10.069559,NaN,0.000000,0.000000,5.000000,5.933622,157866.000000,28.768999,417.000000,3.000000,7.000000,NaN,NaN,NaN,0.000000
75%,NaN,72.000000,NaN,330.000000,NaN,93.000000,1.000000,1.000000,1.000000,1.000000,1.000000,15.050018,NaN,1.000000,1.000000,8.000000,9.019124,227749.000000,34.324594,612.000000,5.000000,9.000000,NaN,NaN,NaN,1.000000
max,NaN,90.000000,NaN,400.000000,NaN,110.000000,1.000000,1.000000,1.000000,1.000000,1.000000,19.998709,NaN,1.000000,1.000000,10.000000,11.999313,299954.000000,39.997211,800.000000,7.000000,10.000000,NaN,NaN,NaN,1.000000

We have two columns that have numerous unique values: "Patient ID" and "Blood Pressure"

In [7]:
data = data.drop(["Patient ID"], axis=1)

We have x/y in "Blood Pressure". We create two new columns to demonstrate x and y seperately and integer form.

In [9]:
data[["systolic_pressure", "diastolic_pressure"]] = data["Blood Pressure"].str.split('/', expand=True)

In [10]:
data["systolic_pressure"] = data["systolic_pressure"].astype(int)
data["diastolic_pressure"] = data["diastolic_pressure"].astype(int)

In [11]:
data = data.drop(["Blood Pressure"], axis=1)

Let's remove "Country" column also as we have "Continent" columns with a little amount of unique values.

In [13]:
data = data.drop(["Country"], axis=1)

Checking whether we have NaN values or not

In [15]:
data.isnull().sum()

Age                                0
Sex                                0
Cholesterol                        0
Heart Rate                         0
Diabetes                           0
Family History                     0
Smoking                            0
Obesity                            0
Alcohol Consumption                0
Exercise Hours Per Week            0
Diet                               0
Previous Heart Problems            0
Medication Use                     0
Stress Level                       0
Sedentary Hours Per Day            0
Income                             0
BMI                                0
Triglycerides                      0
Physical Activity Days Per Week    0
Sleep Hours Per Day                0
Continent                          0
Hemisphere                         0
Heart Attack Risk                  0
systolic_pressure                  0
diastolic_pressure                 0
dtype: int64

In [16]:
data_cat = data.select_dtypes(include='object').columns.tolist()

In [17]:
data_cat

['Sex', 'Diet', 'Continent', 'Hemisphere']

In [18]:
data_num = data.drop(data_cat, axis=1)

In [19]:
data_num.corr()["Heart Attack Risk"]

Age                                0.006403
Cholesterol                        0.019340
Heart Rate                        -0.004251
Diabetes                           0.017225
Family History                    -0.001652
Smoking                           -0.004051
Obesity                           -0.013318
Alcohol Consumption               -0.013778
Exercise Hours Per Week            0.011133
Previous Heart Problems            0.000274
Medication Use                     0.002234
Stress Level                      -0.004111
Sedentary Hours Per Day           -0.005613
Income                             0.009628
BMI                                0.000020
Triglycerides                      0.010471
Physical Activity Days Per Week   -0.005014
Sleep Hours Per Day               -0.018528
Heart Attack Risk                  1.000000
systolic_pressure                  0.018585
diastolic_pressure                -0.007509
Name: Heart Attack Risk, dtype: float64

In [20]:
data = data.drop("Family History|Previous Heart Problems|BMI".split("|"), axis=1)

In [39]:
data_num = data_num.drop("Family History|Previous Heart Problems|BMI".split("|"), axis=1)

In [43]:
data_num.columns

Index(['Age', 'Cholesterol', 'Heart Rate', 'Diabetes', 'Smoking', 'Obesity',
       'Alcohol Consumption', 'Exercise Hours Per Week', 'Medication Use',
       'Stress Level', 'Sedentary Hours Per Day', 'Income', 'Triglycerides',
       'Physical Activity Days Per Week', 'Sleep Hours Per Day',
       'Heart Attack Risk', 'systolic_pressure', 'diastolic_pressure'],
      dtype='object')

In [57]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

variables = data_num[[
    'Age',
    # 'Cholesterol',
    # 'Heart Rate',
    'Diabetes',
    # 'Smoking',
    'Obesity',
       'Alcohol Consumption',
    'Exercise Hours Per Week',
    'Medication Use',
       'Stress Level',
    'Sedentary Hours Per Day',
    'Income', 'Triglycerides',
       'Physical Activity Days Per Week',
    # 'Sleep Hours Per Day',
    # 'systolic_pressure',
    # 'diastolic_pressure'
]]

vif = pd.DataFrame()
vif["VIF"] = [variance_inflation_factor(variables.values, i) for i in range(variables.shape[1])]
vif["Features"] = variables.columns
vif

         VIF                         Features
0   5.970740                              Age
1   2.711402                         Diabetes
2   1.943035                          Obesity
3   2.355532              Alcohol Consumption
4   3.604583          Exercise Hours Per Week
5   1.931042                   Medication Use
6   4.151046                     Stress Level
7   3.644054          Sedentary Hours Per Day
8   4.243959                           Income
9   4.010983                    Triglycerides
10  3.096383  Physical Activity Days Per Week

In [59]:
data = data.drop([
    'Cholesterol',
    'Heart Rate',
    'Smoking',
    'Sleep Hours Per Day',
    'systolic_pressure',
    'diastolic_pressure'
], axis=1)

In [61]:
data_num = data_num.drop([
    'Cholesterol',
    'Heart Rate',
    'Smoking',
    'Sleep Hours Per Day',
    'systolic_pressure',
    'diastolic_pressure'
], axis=1)